<template>
  <div class="flex flex-col h-73 w-64 border text-center">
    <NuxtLink
      :to="`/movies/${movie?.id}`"
      class="inline-block mb-5 bg-green-600"
    >
      <img
        v-if="imgUrl"
        :src="imgUrl"
        class="inline-block w-full h-50 transform hover:translate-x-6 hover:-translate-y-6 delay-50 duration-500"
        alt="Movie Poster"
      />
      <div
        v-else
        class="flex justify-center items-center inline-block w-full h-50 bg-gray-500 text-white transform hover:translate-x-6 hover:-translate-y-6 delay-50 duration-500"
      >
        Нет фото
      </div>
    </NuxtLink>
    <div class="text-lg">
      {{ movie?.title }}
    </div>
    <p
      class="px-2 text-sm text-gray-500 break-words text-wrap truncate overflow-hidden"
    >
      {{ movie?.overview }}
    </p>
  </div>
</template>

<script setup lang="ts">
import type { Movie } from "~/types/Movie";

const props = defineProps<{
  movie: Movie;
}>();

const imgUrl = computed(() => props.movie?.poster_path);
</script>
