<template>
  <div class="flex flex-col px-20 mt-10">
    <div class="grid grid-cols-7 gap-5">
      <img v-if="imgUrl" :src="imgUrl" class="col-span-2" alt="Movie Poster" />
      <div
        v-else
        class="col-span-2 flex justify-center items-center w-full h-100 bg-gray-500 text-white"
      >
        Нет фото
      </div>
      <div class="col-span-3 flex flex-col">
        <div class="mb-5 text-4xl font-sans font-bold">
          {{ data?.title }}
        </div>
        <div class="flex">
          <div
            v-for="genre in data?.genres"
            :key="genre.id"
            class="px-4 py-2 mr-2 mb-2 bg-gray-200 text-gray-800 rounded"
          >
            {{ genre.name }}
          </div>
        </div>
        <div class="my-2 text-lg">Дата выхода: {{ data?.release_date }}</div>
        <div class="my-2 text-lg">Длительность: {{ data?.runtime }} мин.</div>
        <p class="text-gray-600 text-sm">{{ data?.overview }}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { Movie } from "~/types/Movie";

const route = useRoute();
const movieId = computed(() => route.params.id);

const url = computed(() => {
  return `/api/movies/${movieId.value}`;
});

const { data } = await useFetch<Movie>(url);

const imgUrl = computed(() => data.value?.poster_path);
</script>
