<template>
  <div class="flex flex-col py-10">
    <div>
      <h2 class="text-2xl font-bold text-center">Фильмы</h2>
    </div>
    <div class="flex justify-center items-center h-32">
      <input
        v-model="searchTerm"
        type="text"
        placeholder="Начните вводить название..."
        class="px-2 py-1 min-w-64 border border-gray-800 rounded-md"
      />
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-10 gap-y-10 mb-10 self-center"
    >
      <div v-for="movie in data?.results">
        <MovieCard :movie="movie" />
      </div>
    </div>
    <div v-if="data?.total_pages" class="flex justify-center">
      <button
        @click="page--"
        class="px-4 py-2 text-sm border rounded-lg"
        :class="{ invisible: disabledPrevious }"
      >
        <
      </button>
      <div class="px-4 py-2 mx-2 text-sm border rounded-lg select-none">стр. {{ page }}</div>
      <button
        @click="page++"
        class="px-4 py-2 text-sm border rounded-lg"
        :class="{ invisible: disabledNext }"
      >
        >
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { APIResponse } from "~/types/APIResponse";

const searchTerm = ref<string>("");
const page = ref<number>(1);

const disabledPrevious = computed<boolean>((): boolean => page.value === 1);
const disabledNext = computed<boolean>(
  (): boolean => page.value === data.value?.total_pages,
);

const debouncedSearchTerm = refDebounced(searchTerm, 700);

const url = computed(() => {
  return `api/movies/search?query=${debouncedSearchTerm.value}&page=${page.value}`;
});

const { data } = await useFetch<APIResponse>(url);
</script>
